# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
db.sqlite3
db.sqlite3-journal

# Media & static (ila ma bghitich tpushihom)
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Migrations (optional - ila bghiti)
# */migrations/
# !*/migrations/__init__.py